{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 40.66970199110191,
        "longitude": -73.97561430931093,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/New_York",
        "external_url": "http://ha.pash.home",
        "internal_url": "http://ha.pash.home"
    }
}